* {
  background-color: black;
  color: white;
}

.ice {
  color: #9595ff;
}

.fire {
  color: #ff6565;
}

.nature {
  color: #abffab;
}

.holy {
  color: #aaaa00;
}

.dark {
  color: #e565e5;
}

#families {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
}
